<header class="container">
  <h1>
    <img class="logo" src="img/github-big-logo.svg" alt="">
    <a href="#" title="Return to Git">SaturdayFrontEndAcademy</a>
  </h1>
  <div>
    Other projects
    <ul>
      <li><a href="#">Sample 1 Sample 1 Sample 1 Sample 1</a></li>
      <li><a href="#">Sample 2</a></li>
      <li><a href="#">Sample 2</a></li>
      <li><a href="#">Sample 2</a></li>
      <li><a href="#">Sample 2</a></li>
      <li><a href="#">Sample 2</a></li>
    </ul>
  </div>
</header>
