body,html{width: 100%; height: 100%;}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(51, 42, 42) url(img/ignasi_pattern_s.png);
}
#container{
  display: inline-block;
  background: url(img/wood-light.jpg);
  background-size: 30% 30%;
  position: relative;
  padding: 3em;
  border: 0.2em solid transparent;
  box-shadow: inset 0 0 0 0.1em rgb(51, 42, 42), 1em 1em 0.4em rgba(0,0,0,.6);
  user-select: none;
}
#container > p{
  position: absolute;
  text-align: center;
  z-index: 10;
  width: 100%;
  left: 0;
  color:rgb(232, 224, 189);
}
#container > p:last-of-type{bottom: 100%;}
#container > p:first-of-type{top: 100%;}
#container.player0 > p:last-of-type{opacity: 0.2;}
#container.player1 > p:first-of-type{opacity: 0.2;}
#field{
  border: 0.1em solid rgb(51, 42, 42);
}
.row{
  display: flex;
}
.cell{
  width: 8vmin;
  height: 8vmin;
  position:relative;
}
.cell.select::after,
.cell.move::after,
.cell.atack::after{
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background: rgba(236, 202, 27, 0.32);
  border: 0.2em solid rgba(236, 202, 27, 0.8)
}
.cell.move::after{
  background: rgba(27, 236, 236, 0.32);
  border: 0.2em solid rgba(27, 236, 236, 0.8)
}
.row:nth-of-type(even) .cell:nth-child(odd),
.row:nth-of-type(odd) .cell:nth-child(even){
  background: url(img/wood-dark.jpg);
}
.s-tooltip,
.n-tooltip{
  display: block;
  position: absolute;
  color: rgb(51, 42, 42);
  box-sizing: border-box;
  font: 130% Verdana;
  pointer-events:none;
}
.row .cell:first-child .n-tooltip,
.row .cell:last-child .n-tooltip{
  height: 100%;
  line-height: 8vmin;
  padding: 0 0.3em;
}
.row:first-of-type .s-tooltip,
.row:last-of-type .s-tooltip{
  width: 100%;
  text-align: center;
  padding: 0.3em 0;
}
.row:first-of-type .s-tooltip{bottom: 100%;}
.row:last-of-type .s-tooltip{top: 100%;}
.row .cell:first-child .n-tooltip{right:100%;}
.row .cell:last-child .n-tooltip{left:100%;}
#figures{
  position: relative;
}
#figures .regular,
#figures .queen{
  z-index: 2;
  width: 6vmin;
  height: 6vmin;
  margin: 1vmin;
  border-radius: 50%;
  pointer-events:none;
  position:absolute;
  background-size: 30% 30%;
  box-shadow: inset 0 0 1em rgba(255,255,255,.1), inset 0 0 0.1em rgba(255,255,255,.2), inset 0 0 0 0.1em rgba(255,255,255,.1), 0.2em 0.2em rgba(0,0,0,.5);
}
#figures .light{
  background: url(img/wood-light.jpg);
}
#figures .dark{
background: url(img/wood-dark.jpg);
}
#figures .regular::after,
#figures .queen::after,
#figures .regular::before{
  content:"";
  display:block;
  position: absolute;
  top:0;
  left:0;
  width:70%;
  height:70%;
  margin:15%;
  border-radius: 50%;
  box-sizing: border-box;
}
#figures .regular::before{
  width: 40%;
  height:40%;
  margin: 30%;
}
#figures .dark.regular::after,
#figures .dark.regular::before{
  border:2px solid rgba(207, 202, 157, 0.3);
}
#figures .dark.queen::after{
  background: rgba(207, 202, 157, 0.3);
}
#figures .light.regular::after,
#figures .light.regular::before{
  border:2px solid rgba(51, 42, 42, 0.4);
}
#figures .light.queen::after{
  background: rgba(51, 42, 42, 0.4);
}
